// .pfp{
//     // max-width: 100%;
//     border-radius: 300%;
// }



#profile {
    // margin-top: 15%;
    position: absolute;
    top: 10%;
    width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    z-index: -1;
    

    h4{
        margin: 1% 5%;
        width: 90%;
    }
    .pfp{
        margin: 0 20%;
        width: 60%;
        border-radius: 50%;



    }

    // h4{
    //     // margin: 2% 5%;
    //     padding: 9%
    // }

    .timeline{
        margin: 5%;
        width: 90%;
    }



}