




.contact-parts{
    display: flex;
    flex-direction: column;
    // background-color:;
    justify-content: center;
    align-items: center;
    margin-top: 20%;



    .contactme{
        text-align: center;
    }

    .message-forms{
        
        
        
        .forms{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        ::placeholder{
            color: $feature;
        }
        
       
        
        
        input[type=text], select, textarea{
            width: 78vw;
            margin-top: 1%;
            border: none;
            padding: 2%;
            height: 2.5em;
            font-family: 'raleway', sans-serif;
            font-size: 1em;
            // color: ;
            background-color: #ffd9f9;
            // #ff94ef;
        }
        textarea{
            height: 15em;
        }
    }

    .details{
        width: 100%;
        height: 50vh;
        margin-top: 2%;
        padding: 9% 0% 0 11%;

        display: flex;
        flex-direction: column;
        a{
            text-decoration: none;
            color: white;
            font-family: 'raleway', sans-serif;
            font-size: 1em;
        }

        .message{
            font-size: 1.65em
        }

        .c-details{
            background-color: black;
            padding: 5%;
            margin-top: 5%;
            width: 78vw;
            line-height: 2;
            box-shadow: 0.5em 0.5em 0 0 $feature;
        }
    
    }





}





