// font-family: lust-script, sans-serif;
// font-style: normal;
// font-weight: 400


@import url(//db.onlinewebfonts.com/c/2c6559d94a7fa38ce73eaa827ca22ce2?family=Lust+Script+Display);

h1{
    font-family: lust-script, sans-serif;
    font-style: normal;
    font-weight: 400;

}