

.mobile-container{
    margin: 0 auto;
    max-width: 100vw;
}






.navbar{
    
    
    border: none;
    overflow: hidden;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 99;
    background: rgba(255, 255, 255, 0.00);
    
    
    .desktop-logo{
        display: none;
    }
    

    #myLinks{
        display: none;
    }
    
    
    .nav-links, .logo{
        text-decoration: none;
        // color: black;
        color: $feature;
    }

    


    .main-nav{
        list-style-type: none;
        display: none;

        li{
            padding: 2%;
            width: 100%;
            text-align: center;
            &:hover{a{color:black;}}
        }
        

    }
    .nav-links{
        margin: 10% auto;
        text-align: center;
        align-items: center;
    }


    a.icon{
        position: absolute; 
        right: 0;
        top: 0;
        padding: 6vw;
        font-size: 6vw;
        color: black;
        &:hover{
            color: $feature;
        }
        
    }



}



.active {
    display: block;
}

