

[class*="col-"] {
    width: 100%;
}



@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .mainnav li{font-size: 9vw;}
    
    // index styling -----------------------------------------
    
    #page-wrapper-i{


        .home-content{


            .landing{
                .landing-contents{
                    padding-top: 40%;
                }
            }


            .welcome{

                padding: 2em 4em;
                margin-bottom: 5%;
                h4{
                    font-size: 2.9em;
                }
                

            }

        }

        .menu-options{
            font-size: 1.5em;
            ul{
                margin-bottom: 5%;
            }
        }

        


    }
    
    .copyr{
        p{
            font-size: 2em;
            padding: 0 14% 5%;
        }
    }
    
    
    
    
    
    .mainnav li{font-size: 5vw;}
    #profile {
        
        img{
            width: 50%;
            margin: 0 25%;
        }
    }
    h3{
        font-size: 4em;
        padding: 12% 0 7% 0;
    }
    h4{
        font-size: 2.5em;
    }

    .mobile-container{
    .centered{
        font-size: 4em;
        .navbar {


            .main-nav{
                top: 12%;
                a{
                    font-size: 4vw;
                }
            }
            .logo-wrap{
                height: 12%;

            }

            .icon{
               padding: 5vw;     
            }
        }

    }   
}

    .blog-parts{

        h3{
            top: 15%;


        }
    }

    .centered {
        p{
            font-size: 3em;
        }
    }
    .copyrights-end-m .copyright-f{
        #copy-id{
            font-size: 2em;
        }
    }


    // footer
    footer {
        // 
        // flex-direction: row;
        // justify-content: flex-end;



        ul li{
            padding: 0;
        }

        ul li a:-webkit-any-link{
            font-size: 0.5em;
            padding: 0 0.5em;
        
        }
    .copyright-f{
        font-size: 2em;
        padding-left: 5%;
        display: flex;
        width: 100%;
        align-items: flex-start;
        
       

    }

    }   
    
}


// ------------------------------------------------------------



@media all and (min-width: 769px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    // ---------------------------------------

    // menu 


    .mobile-container .navbar .main-nav a{
        font-size: 2vw;
    }

    .navbar {
        height: 18%;
        padding: 0;
        .icon{display:none;}

        #myLinks{
            display: flex;
            flex-direction: row;
            font-size: 1.5vw;
            line-height: 2;
            font-family: raleway;
        }
                
        .logo h1{
            font-size: 2vw;
            // padding: 0% 0 10% 0;
        }
        .desktop-logo{
            display:block;
            padding: 0;
            line-height: 50%;
            .hover{
                display: none;
            }
            &:hover{
                .hover{
                    display: block;
                }
                .no-hover{
                    display: none;
                }
                
            }
        }
        .mobile-logo{
            display: none;
        }
        .main-nav{
            li{
                background-color: rgba(255, 255, 255, 0.0);
            }
        }

    }


    // index page ----------------------------------------

    #page-wrapper-i {
        
        margin: 0 auto;


        .home-content{

            h4{
                font-size: 3vw;
            }
            .welcome{
                display: none;
            }

            .welcome-d{
                display: inline-block;
            }

            .landing{
                display: flex;
                justify-content: center;
                align-items: center;



                .landing-contents{
                    padding-top: 0%;

                }
            }

            .desktop-logos{
                #PinkLogo{
                    width: 100%;
                }
                #BlackLogo{
                    width: 100%;
                }
            }
        }

        .menu-options{
            
        
            
            ul{
                flex-direction: row;
                flex-wrap: wrap;

                li{
                    margin: 3em;
                    padding: 1em;
                }

                

                


                .odd-item{
                    display: inline-block;
                    a{
                        font-size: 1.25em;
                        color: black
                    }
                    background-color: white;
                    box-shadow: 0.5em 0.5em 0 0 black;
                    border: 0.45em solid $feature
                }
            }

            
        }




    }
    .copyr{
        display: none;
    }














    // about page
    h3{
        padding: 2% 0 2% 0;
        font-size: 3.5em;
    }
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    .container{margin: 0 5em}
    #profile{
        img{
            width: 65%
        }
    }


    // projects ----------------------------------------

    .projects{
        img{
            width: 50vw;
        }
    }


    // blog ----------------------------------------


    .blog-parts{
        max-width: 100%;
        margin: 0 auto;
        // padding-bottom: 5%;

        h3{
            top: 25%;
            padding: 0;
            &:hover{
                color: $feature;
            }
        }

        .img-first{
            margin-top: 30%;
        }

        .centered{
            p{
                font-size: 2vw;
                width: 100vw;
            }
        }

   

        .container{ 
            top: 20%;

            
            



            .container1{
                padding: 1%;

                img{
                    object-fit: cover;
                    width: 60vw;
                    height: 20vw;
                    box-shadow:6px 7px 0px 0px $feature;

                }
                

            }

            
        }
    }
    
    
    .copyrights-end-m{
        display: none;
    }


    // footer ----------------------------------------

    
    .footer-icons{
        font-size: 2vw;
        line-height: 0;
        bottom: 0;
        color: $feature;
        

        
    }
    footer{
        height: 7%;
        background-color: rgba(255, 255, 255, 0.00);
        bottom: 0;
        .copy-copyright{
            display: none;
        }

        .copyrights{
            &:first-child{
                display: inline-block;
            }
            &:nth-of-type(2){
                display: none;
            }
            .mobile-copy{
                display: none;
            }


            .copy-c{
                font-size: 2vw;
            }

            
            &:hover{
                .copy-copyright{
                    display: inline-block;
                    left: 3%;

                }
            
            }
        }
        
        .copyright-f{
            font-size: 1.1vw;
            padding: 0;
            margin: 0;
            position: fixed;
            bottom: 4vh;
            left: 1.25%;
    


        }

        
        

       

        ul li {
            padding: 0.5em;
            

            a:-webkit-any-link{
                color: $feature;
                font-size: 5vh;

                
                
                
                &:hover{
                    color: black;
                }
            }
        }
    } 

    
}


