@import 'fonts';
@import 'menu';
@import 'about';
@import 'contact';
@import 'footer';
@import 'projects';
@import 'blog';


@import 'responsive';


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;

    margin: 0 auto;

}





// main body for contact page
main{
    background-color: hotpink;
    position: absolute;
    top: 15%;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}



.copyright{

    position: absolute;
    bottom: 13%;
    display:flex;
    justify-content: center;
    background-color: lightgreen;
    width: 100%;


    p{ 
        padding: 1em;
    }
}

.copyright-desktop{
    display: none;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 50%;
    padding: 1.6%;
    font-size:1.25em
}


.logo h1{
    &:hover{
        color: $feature;
    }
}


// index styling

#page-wrapper-i{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    text-align: center;



    .home-content{
        
        // height: 100%;
        
        // margin: 40% 0 0%;
        // background-color: $feature;
        // box-shadow: 0.75em 0.75em 0 0 $feature;  
        // color: white;     
       
        // padding: 3em 1em;

        .landing{
            height: 100vh;
            .landing-contents{
                padding-top: 50%;
            }
        }

        .welcome{
            background-color: $feature;
            padding: 1em 0.5em;
            box-shadow: 0.5em 0.5em 0  0 black;
            color: white;
            margin-bottom: 15%;
            margin-top: 10%;
        }

        .desktop-logos{
            width: 98%;
            display: flex;
            justify-content: center;
            margin: 0;
            
            #BlackLogo{
                display: none;
                width: 90%;
            }
            #PinkLogo{
                width: 90%; 
                // display: none; 
            }

            &:hover{
                #BlackLogo{
                    display: flex;
                    
                }
                #PinkLogo{
                    display: none;
                }
            }

        }

        
    }


    .menu-options{
        ul{ 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100vw;
            margin-bottom: 20%;
            
        
            li{
                list-style-type: none;
                width: 100;
                background-color: black;
                padding: 1em;
                margin: 3% 2%;
                box-shadow: 0.5em 0.5em 0 0 $feature;
            
                // height: 5vh;
                
                a{
                    text-decoration: none;
                    color: white;
                    font-family: 'raleway', sans-serif;
                    font-size: 1.5em;
                    
                    
                }
            }
    }   }
}




