@import url(//db.onlinewebfonts.com/c/2c6559d94a7fa38ce73eaa827ca22ce2?family=Lust+Script+Display);
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Comfortaa:wght@300;400;500;600;700&family=Didact+Gothic&family=Dosis:wght@200;300;400;500;600;700;800&family=Maven+Pro:wght@400;500&family=Poppins:wght@100;200;300;400;500;600&family=Quicksand:wght@300;400;500;515;600;700&family=Raleway:wght@100;200;300;400;500&family=Teko:wght@300;400;500&display=swap");
h1 {
  font-family: lust-script-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
}

h1:hover {
  color: FFC2C2;
}

h3 {
  padding: 7% 0 7% 0;
  font-size: 2em;
  color: black;
  text-align: center;
}

h3:hover {
  color: #FFC2C2;
}

.blog-parts h3 {
  position: absolute;
  top: 15%;
  font-size: 2em;
  z-index: 80;
  padding: 0 0 7% 0;
}

h3, h4, p {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

h4 {
  padding: 6% 0 2% 9%;
  font-size: 1.75em;
}

p {
  padding: 1% 9%;
  font-size: 1.2em;
  line-height: 1.35em;
}

.mobile-container {
  margin: 0 auto;
  max-width: 100vw;
}

.navbar {
  font-size: 4vw;
  background-color: white;
  border: none;
  overflow: hidden;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.75);
}

.navbar .desktop-logo {
  display: none;
}

.navbar #myLinks {
  display: none;
}


.contactme {
  padding: 5%;
}

.message-forms {

.navbar .nav-links, .navbar .logo {
  text-decoration: none;
  color: black;
}

.navbar .logo h1 {
  display: inline-block;
  font-size: 7vw;
  padding: 5% 0 3% 5%;
}

.navbar .main-nav {
  list-style-type: none;
  display: none;
}

.navbar .main-nav li {
  padding: 2%;
  width: 100%;
  text-align: center;
}

.navbar .main-nav li:hover {
  background-color: rgba(255, 194, 194, 0.6);
}

.navbar .nav-links {
  margin: 10% auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar a.icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6vw;
  font-size: 6vw;
  color: black;
}

.navbar a.icon:hover {
  color: #FFC2C2;
}

.active {
  display: block;
}

#profile {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 10%;
  z-index: -1;
}

#profile img {
  margin: 0 20%;
  width: 60%;
  border-radius: 50%;
}

.projects {
  position: absolute;
  top: 10%;
}

.projects img {
  height: auto;
  max-width: 100vw;
  margin-bottom: 1.5%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.message-forms input[type=text], .message-forms select, .message-forms textarea {
  width: 90%;
  margin-top: 1%;
  border: none;
  padding: 1%;
  height: 2.5em;
}

.message-forms textarea {
  height: 15em;

.projects img:hover {
  opacity: 0.65;
}

.projects .container2, .projects .container3, .projects .container4 {
  position: relative;
  text-align: center;
  color: paleturquoise;

}

.projects .container2 .centered, .projects .container3 .centered, .projects .container4 .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.img-first {
  margin-top: 50%;
}

.container1 {
  position: relative;
  text-align: center;
  color: #FFC2C2;
}

.container1 img {
  max-width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2%;
}

.container1:hover .centered {
  display: block;
}

.container1:hover img {
  opacity: 90%;
}

.container1 .centered {
  font-size: 2em;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Quicksand', sans-serif;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer ul li {
  list-style-type: none;
  padding: 1em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100%;
}

main {
  background-color: hotpink;
  position: absolute;
  top: 15%;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  position: absolute;
  bottom: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: lightgreen;
  width: 100%;
}

.copyright p {
  padding: 1em;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .mainnav li {
    font-size: 5vw;
  }
  #profile img {
    width: 50%;
    margin: 0 25%;
  }
  h3 {
    font-size: 4em;
    padding: 12% 0 7% 0;
  }
  h4 {
    font-size: 2.5em;
  }
  .centered {
    font-size: 4em;
  }
}

@media all and (min-width: 769px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .navbar {
    height: 10%;
    padding: 0;
  }
  .navbar .icon {
    display: none;
  }
  .navbar #myLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 2vw;
  }
  .navbar .logo h1 {
    font-size: 2vw;
  }
  .navbar .desktop-logo {
    display: block;
  }
  .navbar .mobile-logo {
    display: none;
  }
  h3 {
    padding: 2% 0 2% 0;
    font-size: 3.5em;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container {
    margin: 0 5em;
  }
  #profile img {
    width: 65%;
  }
  .projects img {
    width: 50vw;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.headerh1 {
  position: fixed;
  top: 0;
  background-color: royalblue;
  width: 100%;
  height: 15%;
}

.headerh1 h1 {
  text-align: center;
  padding: 8%;
}

main {
  background-color: hotpink;
  position: absolute;
  top: 15%;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


  padding: 5%;
}

.message-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message-forms input[type=text], .message-forms select, .message-forms textarea {
  width: 90%;
  margin-top: 1%;
  border: none;
  padding: 1%;
  height: 2.5em;
}

.message-forms textarea {
  height: 15em;
}

.details {
  background-color: indigo;
  position: absolute;
  top: 65%;
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: aqua;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 13%;
}


footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer ul li {
  list-style-type: none;
  padding: 1em;
}

.footer-icons {
  font-size: 14vw;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100%;
}

main {
  background-color: hotpink;
  position: absolute;
  top: 15%;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  position: absolute;
  bottom: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: lightgreen;
  width: 100%;
}

.copyright p {
  padding: 1em;
}

.copyright-desktop {
  display: none;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 50%;
  padding: 1.6%;
  font-size: 1.25em;
}

[class*="col-"] {
  width: 100%;
}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .copyright {
    bottom: 12%;
  }
  .footer-icons {
    font-size: 11vw;
  }
  footer {
    height: 12%;
  }
}

@media only screen and (min-width: 769px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  footer {
    height: 11%;
  }
  footer ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0.65em 1vw;
  }
  .footer-icons {
    font-size: 3.5vw;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    bottom: 29%;
  }
  .copyright {
    display: none;
  }
  .copyright-desktop {
    display: block;
  }
}



.logo h1:hover {
  color: #FFC2C2;
}

/*# sourceMappingURL=style.css.map */