@import url(//db.onlinewebfonts.com/c/2c6559d94a7fa38ce73eaa827ca22ce2?family=Lust+Script+Display);
h1 {
  font-family: lust-script, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.mobile-container {
  margin: 0 auto;
  max-width: 100vw;
}

.navbar {
  font-size: 4vw;
  background-color: mediumpurple;
  padding-bottom: 10px;
  border: none;
  overflow: hidden;
  position: fixed;
  top: 0%;
  width: 100%;
}

.navbar .desktop-logo {
  display: none;
}

.navbar #myLinks {
  display: none;
}

.navbar .nav-links, .navbar .logo {
  text-decoration: none;
  color: pink;
}

.navbar .logo h1 {
  display: inline-block;
  font-size: 7vw;
  padding: 5% 0 3% 5%;
}

.navbar .main-nav {
  list-style-type: none;
  display: none;
}

.navbar .main-nav li {
  padding: 2%;
  width: 100%;
  text-align: center;
}

.navbar .main-nav li:hover {
  background-color: mediumturquoise;
}

.navbar .nav-links {
  margin: 10% auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar a.icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6vw;
  font-size: 6vw;
  color: pink;
}

.active {
  display: block;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .mainnav li {
    font-size: 5vw;
  }
}

@media all and (min-width: 769px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .navbar {
    height: 14%;
    padding: 0;
  }
  .navbar .icon {
    display: none;
  }
  .navbar #myLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 2vw;
  }
  .navbar .logo h1 {
    font-size: 2vw;
    padding: 0% 0;
  }
  .navbar .desktop-logo {
    display: block;
  }
  .navbar .mobile-logo {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.headerh1 {
  position: fixed;
  top: 0;
  background-color: royalblue;
  width: 100%;
  height: 15%;
}

.headerh1 h1 {
  text-align: center;
  padding: 8%;
}

main {
  background-color: hotpink;
  position: absolute;
  top: 15%;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


  padding: 5%;
}

.message-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message-forms input[type=text], .message-forms select, .message-forms textarea {
  width: 90%;
  margin-top: 1%;
  border: none;
  padding: 1%;
  height: 2.5em;
}

.message-forms textarea {
  height: 15em;
}

.details {
  background-color: indigo;
  position: absolute;
  top: 65%;
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: aqua;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 13%;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer ul li {
  list-style-type: none;
  padding: 1em;
}

.footer-icons {
  font-size: 14vw;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100%;
}

main {
  background-color: hotpink;
  position: absolute;
  top: 15%;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  position: absolute;
  bottom: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: lightgreen;
  width: 100%;
}

.copyright p {
  padding: 1em;
}

.copyright-desktop {
  display: none;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 50%;
  padding: 1.6%;
  font-size: 1.25em;
}

[class*="col-"] {
  width: 100%;
}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .copyright {
    bottom: 12%;
  }
  .footer-icons {
    font-size: 11vw;
  }
  footer {
    height: 12%;
  }
}

@media only screen and (min-width: 769px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  footer {
    height: 11%;
  }
  footer ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0.65em 1vw;
  }
  .footer-icons {
    font-size: 3.5vw;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    bottom: 29%;
  }
  .copyright {
    display: none;
  }
  .copyright-desktop {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */